@use 'globals' as *;

@media screen and (min-width: $breakpoint-tablet) {
    main {
        @include flex-center(column);
        .image {
            width: 90%;
            margin-bottom: 4.5rem;
        }
    }
    
    .info {
        margin-top: 5.5rem;

        &__logo{
            height: $spacing-300;
        }

        &__text {
            h1, span {
                font-size: 3rem;
            }
            
            p {
                font-size: 1.25rem;
            }
        }

        &__email {
            flex-direction: row;
            justify-content: center;
            gap: $spacing-200;
            width: 90%;
            
            div {
                width: 70%;
            }
            
            button {
                width: 30%;
            }
        }
    }

    .footer {
        margin-bottom: $spacing-400;
    }
}

@media screen and (min-width: $breakpoint-laptop) {
    main {
        width: 50%;
    }

    .info {
        &__email {
            width: 110%;
        }
    }

    .footer {
        &__socials {
            i:hover {
                background-color: $blue-500;
                color: $white;
                border: none;
            }
        }
    }
}