@use 'variables' as *;

@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin text($font-weight, $font-size) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: 1.25;
    letter-spacing: $spacing-0;
}