$white: #fff;
$black: #000;

$blue-950: #15202a;
$blue-500: #4c7bf3;
$blue-200: #c2d3ff;

$grey-400: #969696;
$grey-100: #ebebeb;
$grey-50: #fbfcff;

$red-400: #ff5466;

$green-500: #2ecc71;

$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;

$breakpoint-tablet: 48rem;
$breakpoint-laptop: 64rem;